[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-ckeditor = "*"
python-dotenv = "*"
faker = "*"
flask-mail = "*"
flask-moment = "*"
flask-debugtoolbar = "*"
flask-migrate = "*"
bootstrap-flask = "*"
pymysql = "*"

